@mixin breakpoint($point) {
  @if $point == tablet {
    @media all and (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @if $point == mobile {
    @media all and (max-width: 767px) { @content; }
  }
  @if $point == handheld {
    @media all and (max-width: 991px) { @content; }
  }
  @if $point == pc {
    @media all and (min-width: 992px) { @content; }
  }
/*
  @if $point == pc {
    @media all and (min-width: 992px) and (max-width: 1440px) { @content; }
  }
  @if $point == wide {
    @media all and (min-width: 1441px) { @content; }
  }
*/
  @if $point == retina {
    @media 
      only screen and (-moz-min-device-pixel-ratio: 1.5),
      only screen and (-o-min-device-pixel-ratio: 3/2),
      only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5),
      only screen and (min-resolution: 144dpi) 
    { @content; }
  }
}


// Editoo kleuren
$darkblue: #62b3d9;
$lightblue: #b4dee2;


#editooturbomenu {  
  background: #111;
    
  //box-shadow: 0px 0px 6px #666;
  font-size: 14px;
  text-align: center;
  position: relative;
  //height: 165px;
  //margin-top: -150px;
  height: 13em;
  margin-top: -12em;
  display: block;
  z-index: 999;
  padding: 1em 0 0 0;
    
  @include breakpoint(pc) {
    text-align: left;
    height: 30px !important;
    margin-top: 0 !important;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    
    @include breakpoint(pc) {
      padding: 0;
    }
    
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      color: #fff;
      display: block;
      
      @include breakpoint(pc) {
        float: left;
      }
      
      h3 {
        font-family: 'AvantGarde', sans-serif;;
        font-weight: normal;
        color: $darkblue;
        margin: 0;
        letter-spacing: 0.05em;
        
        @include breakpoint(pc) {
          border-right: 1px solid #444;
          line-height: 30px;
          padding: 0 1em 0 0.75em;
          font-weight: normal;
          font-size: 14px;
          margin: 0;
        }
      }
      
      a {
        //font-family: 'AvantGardeBold', sans-serif;
        transition: all 0.1s;
        color: #fff;
        letter-spacing: 0.05em;
        display: block;
        line-height: 30px;
        text-decoration: none;
        
        @include breakpoint(pc) {
          //border-right: 1px solid #666;
          //border-right: 1px solid $darkblue;
          border-right: 1px solid #444;
          line-height: 30px;
          padding: 0 1em 0;
          font-weight: normal;
          font-size: 14px;
          margin: 0;
          
          color: #aaa;
          
          &:hover,
          &.active {
            background: #444; 
            color: #ddd;
          }
        }
      }
    }
  }
  
  .current {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.05em;

    @include breakpoint(pc) {
        display: none;
        visibility: hidden;
      }
    span {
      transform: rotate(180deg);
    }
    
  }
  
  &.open {
    .current {
      color: #aaa;
    }
  }
}

body.foto #editooturbomenu ul li a.navfoto,
body.pro #editooturbomenu ul li a.navpro {
  background: #444; 
  color: #ddd;
}




.login {
  display: none;
  @include breakpoint(pc) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    a {
      border-right: none;
      background: $darkblue;
      color: #000 !important;
      &:hover {
        background: $lightblue !important;
      }
    }
  }
}


h1 {
  font-size: 1.5em;
}

.main {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

p.open {
  cursor: pointer;
  color: blue;
}


